<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/page/reset.css">
    <link rel="stylesheet" href="/static/css/page/style.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/all.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;">
        <span id="EmployeeNO"><%= employeeNo %></span>
        <span id="name"><%= userName %></span>
        <span id="code"><%= code %></span>
    </div>
    <div class="nav">
        <ul>
            <% if (code> 50) { %>
                <li>
                    <a href="Assetmsg">资产信息</a>
                </li>
                <li>
                    <a href="Employee">员工信息</a>
                </li>
                <li>
                    <a href="ServiceAgent">业务代理</a>
                </li>
                <li>
                    <a href="status">资产状态</a>
                </li>
                <li>
                    <a href="maintenance">资产维护</a>
                </li>
                <li>
                    <a href="valuation">资产评估</a>
                </li>
                <li>
                    <a href="Category">资产分类</a>
                </li>
                <% } else { %>

                    <ul>
                        <li><a class="peoplemsg">个人信息</a></li>
                        <li><a class="myasset">名下资产</a></a>
                    </ul>

                    <% } %>

                        <li>
                            <a id="logout">退出</a>
                        </li>
        </ul>
    </div>