<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>资产管理登录</title>
    <link rel="stylesheet" href="/static/css/page/reset.css">
    <link rel="stylesheet" href="/static/css/page/style.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>

<body>
    <div>
        <p>
            <label for="username">账户:</label>
            <input type="text" class="employeeNo">
        </p>
        <p>
            <label for="password">密码:</label>
            <input type="password" class="password">
        </p>
        <button id="login">登录</button>
    </div>

</body>

</html>